.nav-item {
	display: inline-block;
	width: 14%;
	text-align: center;
}

.navbar-nav {
	width: 100%;
}

.navbar {
	position: relative;
	z-index: 10000;
}

#cover {
	position: relative;
	z-index: 10000;
}

.login-container {
	float: right;
	display: inline-block;
	width: 300px;
	padding-top: 30px;
	text-align: right;
}

.mustard-btn {
	background-color: #FFDB58;
}

.left-header {
	float: left;
}

.signup-form {
	width: 400px;
	margin: 0 auto;
	margin-top: 50px;
}

.login-form {
	width: 500px;
	margin: 0 auto;
	margin-top: 75px;
}

footer {
	background-color: #343a40;
	width: 100%;
	color: #ccc;
	font-size: 0.8em;
	text-align: right;
	padding: 15px;
}

footer p {
	margin: 0; 
}

.bottom-fixed {
	position: absolute;
	bottom: 0;
	left: 0;
}

.separator {
	width: 100%;
	height: 5px;
	background: #343a40;
	margin: 5px 0 15px 0;
}

#post-argument-form {
	margin-top: 15px;
}

#post-argument-form-button, #rephrase-button {
	float: right;
	margin-left: 10px;
	color: black;
}

.argumentation-layout {
	display: none;
}

.var {
	border-bottom: 2px dashed orange;
	cursor: pointer;
}

.var-disable {
	border-bottom: none;
}

.logic-step-editable {
	border-bottom: 2px dashed orange;
	cursor: pointer;
}

.option:hover, .option-selected {
	color: green;
	font-weight: bold;
}

.option-disabled {
	color: black !important;
	font-weight: normal !important;
}

.argument-logic-step {
	position: relative;
}

.info-button {
	position: absolute;	
	right: -10px;
	top: 5px;
	width: 20px;
	height: 20px;
	display: block;
	text-align: center;
	line-height: 20px;
	border-radius: 100%;
	background-color: #cfdccf;
	color: black;
	cursor: pointer;
	z-index: 1000;
	font-family: 'Roboto Condensed', sans-serif;
}

#challenge-btn {
	font-size: 0.8em;
	padding: 3px 5px;
	background-color: firebrick;
	color: white; 
}

#support-btn {
	font-size: 0.8em;
	padding: 3px 5px;
	background-color: olivedrab;
	color: white;
}

.info-body {
	width: 250px;	
	height: 100px;
	background: #cfdccf;
	padding: 10px;
	color: black;
	border-radius: 4px;
	display: none;
	-webkit-box-shadow: -11px 8px 80px -6px rgba(55,73,74,1);
	-moz-box-shadow: -11px 8px 80px -6px rgba(55,73,74,1);
	box-shadow: -11px 8px 80px -6px rgba(55,73,74,1);
	position: absolute;
	left: 0;
	top: 21px;
}

.counter-main .info-body {
	position: absolute;
	left: auto;
	right: 0;
	top: auto;
	bottom: 21px;
}

#logout-form {
	display: inline-block;
	margin-left: 10px;
}

#profile-icon a {
	color: black;
}

#profile-icon i {
	top: 5px;
	position: relative;
}

.profile-btn {
	background: #E5E4E2;
}

.logout {
	color: white;
}

#rephrase-button {
	margin-top: 7px;
	background-color: #B9C38F !important;
	border: none;
}

.reasoning, .critical-questions {
	background: #EEE;
	padding: 15px;
	margin-bottom: 10px;
	list-style-type: none;
	border: 1px solid black;
	border-radius: 4px;
}

#post-argument-container {
	position: relative;
}

#cancel-argument {
	position: absolute;
	top: 0;
	right: 0;
	color: black;
	font-size: 2em;
}

.critical-questions li {
	display: inline;
}

.argument-reasoning {
	list-style-type: none;
}

.option-form {
	display: inline-block;
}

.option-btn {
	font-size: 0.8em;
	padding: 3px 5px;
}
.argument-critical-question {
	margin-bottom: 10px;
}

#user-initial {
	margin: 10px auto;
	text-transform: uppercase;
	width: 75px;	
	height: 75px;
	background: #99ccff;
	border-radius: 100%;
	color: white;
	text-align: center;
	line-height: 75px;
	font-weight: bold;
	font-size: 3em;
	font-family: 'Roboto Condensed', sans-serif;
}

#user-name {
	width: 400px;
	text-align: center;
	margin: 0 auto;
	font-weight: bold;
	font-size: 1.7em;
	font-family: 'Roboto Condensed', sans-serif;
	text-transform: uppercase;
}

.logo {
	margin-top: 10px;
}

.logo a, .motto {
	font-family: Georgia;
	color: black;
}

.logo-img {
	height: 90px;
	width: 90px;
}

.logo-img-container {
	float: left;
	padding-top: 10px;
	padding-right: 10px;
}

#statistics {
	text-align: center;
	margin: 20px 0;
}

.stat {
	display: inline-block;
	padding: 0 20px;
	border-right: 1px solid #ccc;
}

.stat:last-child {
	border-right: none;
}

.stat .value, .stat .label {
	width: 100%;
	text-align: center;
	display: block;
	text-transform: uppercase;
	font-size: 0.8em;
}

.argument-box {
	height: 100px;
	width: 100%;
	margin-bottom: 30px;
	border: 1px solid #403B3B;
	display: block;
	padding: 15px; 
	float: left;
	border-radius: 4px;
	font-family: 'Roboto Condensed', sans-serif !important;
	color: black;
	text-decoration: none !important;
	position: relative;
}

.post-argument-box {
	background-color: #D4D3D3;
}

.existing-argument-box {
	background-color: #F2C3C3;
}

.argument-icon {
	position: absolute;
	bottom: 10px;
	right: 10px;
	font-size: 1.9em;
	color: #3E3A3A;
}

.argument-title a {
	font-family: 'Roboto Condensed', sans-serif;
	color: #404040;
}

.author-date {
	padding-left: 70px;
	font-family: 'Roboto Condensed', sans-serif;
}

.author-date a {
	color: #888e7e;
}

.category-arguments-wrapper {
	border-bottom: 1px solid #ccc;
    padding: 15px 0;
}

.category-arguments {
	border-right: 1px solid #ccc;
	padding: 20px;
	text-align: center;
}

.category-arguments-wrapper:nth-child(3n) .category-arguments {
	border-right: none;
}

.category-arguments-wrapper:last-child .category-arguments {
	border-right: none;
}

.info-explanation {
	text-decoration: underline;
}

#counter-argument-lists .nav-item {
	width: 50%;
	border: ;
}

#counter-argument-lists .tab-content {
	padding: 10px 20px;
	border: 1px solid #ddd;
	position: relative;
}

#counter-argument-lists {
	overflow-y: scroll;
	height: 490px;
	margin-bottom: 30px;
}

.argument-reasoning .argument-critical-questions {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 0.9em;
}

.c-argument-title {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1.5em;
	color: #7f002c;
}

.c-argument-title a {
	color: #7f002c;
}

.c-argument-header {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1.5em;
	color: #7f002c;
}

.main-argument {
	font-size: 0.9em;
}

.header-title {
	color: #000055;
	font-size: 2.1em;
	font-family: 'Roboto Condensed', sans-serif;
	margin-bottom: 0px;
}

.argument-critical-question {
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
}

.counter-main {
	font-size: 0.9em;
}

.argument-author {
	font-size: 1em;
	padding-left: 30px;
	font-family: 'Roboto Condensed', sans-serif;
}

.argument-author a {
	color: #888e7e;
	font-family: 'Roboto Condensed', sans-serif;
}

.based-on-title {
	font-family: 'Roboto Condensed', sans-serif;
	padding-left: 30px;
	color: #000055;
	margin-bottom: 15px;
}

.based-on-title a {
	color: #000055;
}

.no-posts {
	font-family: 'Roboto Condensed', sans-serif;
}

.tree-btn {
	display: block;
	background-color: #bdcebe;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	left: -110px;
	top: 15px;
	white-space: normal;
}

.tree-btn:hover {
	background-color: #ddeede;
}

#tree-container {
	width: 100%;
	height: 800px;
	display: block;
	position: relative;
	background: #cfdccf;
	padding: 20px;
	z-index: 10000;
	top: 400px;
	opacity: 0;
	-webkit-box-shadow: -11px 8px 80px -6px rgba(55,73,74,1);
	-moz-box-shadow: -11px 8px 80px -6px rgba(55,73,74,1);
	box-shadow: -11px 8px 80px -6px rgba(55,73,74,1);
}

.node-winning {
	border: 2px solid green;
	padding: 20px;
}

.node-losing {
	border: 2px solid crimson;
	padding: 20px;
}

.argument-title-container {
	position: relative;
	padding-top: 15px;
}

.node {
	font-family: 'Roboto Condensed', sans-serif;
	width: 200px;
	height: 200px;
}

.register-btn {
	background-color: #f5d76c;
}

.toolbar {
	background-color: #2c3d4b;
	color: white;
}

.welcome-header {
	font-family: Georgia;
	text-align: center;
}

.paragraph-header {
	font-family: Georgia;
	text-align: center;
}

.welcome-header, .paragraph-header {
	margin-top: 100px;
}

#carouselExampleIndicators {
	height: 100%;
	box-sizing: border-box;
	position: relative;
	top: -164px;
	padding-top: 220px;
	padding-bottom: 120px;
	padding-left: 65px;
	padding-right: 65px;
}

.fullheight {
	height: 100%;
}

.carousel-inner {
	height: 100%;
	border: 2px solid #2c3d4b;
	background-color: #f5d76c;
}

.carousel-item {
	height: 100%;
	text-align: center;
}

.footerhomepage {
	position: relative;
	top: -213px;
}

.carousel-indicators {
	bottom: 45px;
}

.carousel-indicators li {
	background-color: #2c3d4b;
}

.carousel-indicators li.active {
	background-color: grey;
}

.node-highlighted {
	-webkit-box-shadow: 0px 0px 80px -3px rgba(0,0,0,1);
	-moz-box-shadow: 0px 0px 80px -3px rgba(0,0,0,1);
	box-shadow: 0px 0px 80px -3px rgba(0,0,0,1);
}

